body{
  padding-left: 200px;
}

header h1{
  margin-top: 50px;
  margin-bottom: 50px;
}

.box-one{
  width: 250px;
  height: 250px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  color: white;
  background-color: rgb(194, 183, 183); 

  /* transform: rotate(25deg);  */
  transform: scale(1.5); /* IMP: box kitna bhi bada/chota dikhe but actual size remains same , so while adding content nearby remember this .suppose if we scale it to .5 then the image will shrink and empty space will be there but that space is occupied by image/box we cannot use to for other element */

  /* transform: skewX(25deg); */
  /* transform: rotate(25deg) scale(.8); */
  transform-origin: 0 0 ; /* takes x and y axis for the frame of reference. Its default is 50% and 50% as x and y which will be center of the image */

}

.img-one{
  width: 200px;
  height: 195px;
  margin-top: 10px;
}

.box-two{
  width: 250px;
  height: 250px;
  color: white;
  background-color: rgb(80, 74, 74); 
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  /* transform: rotate3d(1, 1, 1, 45deg); */
  transform: translate(200px,50px); /*shifts the box taking coordinate as frame of reference without shifting any other element , it just simply overlaps */
}

.img-two{
  width: 200px;
  height: 195px;
  margin-top: 10px;
}